<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Operations By Service</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="keyword">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            
                            <th>Application ID</th>
                            <th>Operation Name</th>
                            <th>Service Name</th>
                            <th>Status</th>
                            <th>SSD SOA</th>
                            <th>SSD Legacy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of oprByService | filter:keyword; index as i">
                            <td>{{i + 1}}</td>
                         
                            <td>{{a.applicationId}}</td>
                            <td><a routerLink='/admin/getTaskDoing/operationId/{{a.operationId}}'>{{a.operationName}}</a></td>
                            <td>{{a.serviceName}}</td>
                            <td>{{a.status}}</td>
                            <td>{{a.ssdSOA}}</td>
                            <td>{{a.ssdLegacy}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="oprByService.length">
                </ngb-pagination> -->
            </div>
        </div>
    </div>

</div>