<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Service</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Services</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="keyword">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Service Name</th>
                            <th>Status</th>
                            <th colspan="2">Action <div style="float: right; margin-right: 35px;"><a
                                        routerLink="/admin/service-add"><i class="far fa-plus-square"
                                            style="font-size: 30px;"></i></a></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of srv | filter:keyword; index as i">
                            <td>{{i + 1}}</td>
                            <td><a routerLink='/admin/getOprByService/serviceId/{{a.id}}'>{{a.serviceName}}</a></td>
                            <td>{{a.status}}</td>
                            <td><a routerLink='/admin/service-edit/{{a.id}}'><i class="fas fa-edit"
                                        style="font-size: 20px;"></i></a></td>
                            <td><a><i (click)='delete(a.id)' data-toggle="modal" data-target="#exampleModal"
                                        class="fas fa-minus-circle" style="font-size: 20px;"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="srv.length"></ngb-pagination> -->
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div *ngIf="isShowModal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="checkDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">You can't delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='onCloseHandled()'>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Item is existing in another table!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='onCloseHandled()'>Close</button>
            </div>
        </div>
    </div>
</div>