<div class="container-fluid">



    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">List Issues</h4>
        </div>
        <div class="row">
          
            <div class="col-md-5">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="keyword">
                </div>
              
            </div>
            <div class="col-md-5">

            </div>
            <div class="col-md-2">
                <div style="float: right; margin-right: 5px;"><a
                    routerLink="/admin/openissue-add"><i class="far fa-plus-square"
                        style="font-size: 35px;"></i></a></div>
            </div>
        </div>
    
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <h5 for="p_category">Application</h5>
                    <select class="form-control bg-primary text-white" name="application" [(ngModel)]="applicationId"
                    required (change)="getServiceByEventApplication($event)">
                    <option class="text-white" disabled>Application</option>
                    <option *ngFor="let a of app" value="{{a.id}}">{{a.integrationAppCode}}-{{a.applicationName}}
                    </option>
                </select> 
                 
                </div>
                <div class="col-md-3">
                    <h5 for="p_category">Service</h5>
                    <select class="form-control bg-success text-white" name="service" [(ngModel)]="serviceId" (change)="getOperationByAppIdAndServiceIdEvent($event)"
                    required  placeholder="Service">
                    <option disabled>Service</option>
                    <option *ngFor="let s of service" value="{{s.serviceId}}">{{s.serviceName}}</option> 
                </select> 
                </div>
                <div class="col-md-3">
                    <h5 for="p_category">Operation</h5>
                    <select class="form-control bg-info text-white" name="operation" [(ngModel)]="issue.operationId" (change)="getIssueByParamsNoStatus($event)"
                    required  placeholder="Operation">
                    <option disabled>Operation</option>
                    <option *ngFor="let o of opreration" value="{{o.operationId}}">{{o.operationName}}
                    </option> 
                </select> 
                </div>
                <div class="col-md-3">
                    <h5 for="p_category">Status</h5>
                    <select class="form-control bg-warning text-white" name="status" [(ngModel)]="issue.status" (change)="getIssueByParamsStatus($event)"
                    required  placeholder="Status">
                    <option disabled selected>Status</option>
                    <option value="Not started yet">Not started yet</option> 
                    <option value="Complete">Complete </option> 
                    <option value="In Progress">In Progress </option> 
                    <option value="Pending">Pending</option> 
                </select> 
                </div>
            </div>     
           <br>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Description</th>
                            <th>Reporter</th>
                            <th>Relution</th>
                            <th>Operation</th>
                            <th>Owner</th>
                            <th>Support</th>
                            <th>Open Date</th>
                            <th>Due Date</th>
                            <th>Close Date</th>
                            <th>Status</th>
                            <th>jraNumber</th>
                            <th>Comment</th>

                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of issues | filter:keyword; index as i">
                            <td>{{i + 1}}</td>
                            <td>{{a.description}}</td>
                            <td>{{a.reporter.userName}}</td>
                            <td>{{a.resolution}}</td>
                            <td>{{a.operation.operationName}}</td>
                            <td>{{a.owner}}</td>
                            <td>{{a.support}}</td>
                            <td>{{a.openDate}}</td>
                            <td>{{a.dueDate}}</td>
                            <td>{{a.closeDate}}</td>
                            <td>{{a.status}}</td>
                            <a href="{{a.jraNumber}}" target=“_blank”><td style="float: inherit; padding-top: 100%;">link</td></a>
                            <!-- <td >{{a.jraNumber}}</td> -->
                            <td>{{a.comment}}</td>
                            <td><a routerLink='/admin/openissue-edit/{{a.id}}'><i class="fas fa-edit"
                                        style="font-size: 20px;"></i></a></td>
                            <td><a><i (click)='delete(a.id)' data-toggle="modal" data-target="#exampleModal"
                                        class="fas fa-minus-circle" style="font-size: 20px;"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="issue.length"></ngb-pagination> -->
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div *ngIf="isShowModal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Operation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="checkDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">You can't delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='onCloseHandled()'>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Item is existing in another table!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='onCloseHandled()'>Close</button>
            </div>
        </div>
    </div>
</div>